[Desktop Entry]
Type=Application
Name=Saleae-Logic
GenericName=Logic Analyser
Comment=A proprietary Logic Analyser
Exec=saleae-logic
Icon=SaleaeLogic
Terminal=false
Categories=Development
