[Desktop Entry]
Name=IntelliJ IDEA
Comment=Capable & Ergonomic Java IDE for Enterprise, Web & Mobile Development
Exec=intellij-idea %u
Icon=intellij-idea
Terminal=false
StartupWMClass=jetbrains-idea
Type=Application
Categories=Development;IDE;
